node_modules/
dist/
coverage/
.vite/
.dotnet-home/
bin/
obj/
.vs/

# Ignore IDE metadata
.idea/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/nul.css
